body {
  transition: all 0.25s linear;
  font-family: Cinzel, serif;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main h1 {
  font-size: 8rem;
  font-weight: normal;
  padding-bottom: 1rem;
}

.main h2 {
  font-size: 2.2rem;
  font-weight: normal;
}

.menu {
  position: absolute;
  top: 5vh;
  left: 0;
  right: 0;
  text-align: right;
  margin-right: 3vw;
}

.home .menu {
  position: absolute;
  top: 90vh;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.home .menu a:first-of-type {
  display: none;
}

a {
  font-size: 3rem;
  margin: 2rem;
  text-decoration: none;
  font-weight: normal;
}
